<%- include("header") -%>
<body>
  <div class="box" id="heading">
    <h1>About</h1>
  </div>
  <div class="box">
    <p>jbkjgh bfkhbfkv kfbkjfhbvfkj kjhfbjkfdhbvjhkd kfjvjhbvkjh</p>
  </div>

</body>
<%- include("footer") -%>
